<div class="container">

    <div class="p-grid p-inputtext-sm">

        <div class="p-col-12">
            <h1>Lançamentos</h1>
        </div>

        <div class="p-col-12 p-fluid">
            <label>Descrição</label>
            <input pInputText type="text">
        </div>

        <div class="p-col-12">
            <label class="label-block">Vencimento</label>
            <input class="input-date" pInputText type="text">

            <label>até</label>
            <input class="input-date" pInputText type="text">
        </div>

        <div class="p-col-12">
            <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <p-table [value]="lancamentos" [paginator]="true" [rows]="2"
                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="p-col-3">Pessoa</th>
                        <th class="p-col-5">Descrição</th>
                        <th class="p-col-1 col-center">Vencimento</th>
                        <th class="p-col-1 col-center">Pagamento</th>
                        <th class="p-col-1 col-right">Valor</th>
                        <th class="p-col-1"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lancamento>
                    <tr>
                        <td>{{lancamento.pessoa}}</td>
                        <td>{{lancamento.descricao}}</td>
                        <td class="col-center">{{lancamento.dataVencimento}}</td>
                        <td class="col-center">{{lancamento.dataPagamento}}</td>
                        <td class="col-right" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue' }">
                            {{lancamento.valor}}
                        </td>
                        <td class="col-center">
                            <a class="col-mr" pButton icon="pi pi-pencil"></a>
                            <button pButton icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <div class="p-col-12">
            <a pButton label="Novo Lançamento"></a>
        </div>
    </div>

</div>